body {
    background: linear-gradient(36deg, red, violet);
}

.wrapper>div {
    height: 20px;
    width: 20px;
    margin: 30px 0px;
    border-radius: 50%;
    background: #fff;
    animation: x 3s ease-in-out 0.1s 1 both;
}

.wrapper {
    animation: y 3s ease-in-out 0.1s 1 both;
}

@keyframes x {
    0% {
        transform: translate(0, 0);
    }
    /* 50% {
        transform: translate(100px, 0);
    } */
    100% {
        transform: translate(200px, 0);
    }
}

@keyframes y {
    50% {
        transform: translate(0, -30px);
    }
}