.animation-1{
	margin: 10% auto;
	height: 100px;
	width: 100px;
	background: #c4c4cb;
	animation-name: spin;
	animation-duration: 0.1s;
}

.animation-container{
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.animation-2{
	height: 50px;
	width: 50px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #c4c4cb;
	animation-name: translate;
	animation-duration: 2s;
}
@keyframes translate{
	0%, 100%{
		transform: translate(0%, 0%);
	}

	25%{
		transform: translate(400%, 0%);
	}

	50%{
		transform: translate(400%, 400%);
	}

	75%{
		transform: translate(0%, 400%);
	}

}

@keyframes spin{
	/*from{
		transform: rotate(0deg);
		width: 100px;
	}
	to{
		transform: rotate(360deg);
		width: 20px;
	}*/

	0%{
		transform: rotate(0deg);
		width: 100px;
		height: 100px
	}

	50%{
		transform: rotate(180deg);
		height: 50px;
		width: 50px;
	}

	100%{
		transform: rotate(360deg);
		height: 100px;
		width: 100px;
	}
}